@use "Utils" as *;

.cart-table {
  display: flex;
  width: 100%;
  background-color: $text-color-orange;
  color: $white;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  border-radius: 6px;
  margin-bottom: 2rem;
}
.cart-container {
  width: 100%;
}

.cart-inner_container {
  max-width: $main-width;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 5rem;

  h1 {
    font-size: $font-size-h2;
  }
}
.cart-flex {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  width: 100%;
  position: relative;
  margin-block: 2rem;
  // padding-inline: 2rem;

  p {
    margin-left: auto;
    margin-right: 3rem;
  }
  span {
    margin-left: auto;
    margin-right: 2.75rem;
  }

  h1 {
    font-size: $font-size-18;
    margin-left: 3.7rem;
    margin-right: 2.5rem;
  }
  h1,
  p,
  span {
    margin-top: 1rem;
    font-weight: $font-600;
  }
  .remove-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    right: -10px;
    top: 18px;
    cursor: pointer;
  }
}
.product-img {
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $fills-imgHolder;

  img {
    width: 2.3rem;
    height: 2.3rem;
    background-color: $black;
  }
}
.checkout {
  padding: 1.257rem 1rem;
  border: none;
  outline: none;
  background-color: $text-color-orange;
  margin-top: 2.5rem;
  border-radius: 6px;
  color: $white;
  margin-right: auto;
  cursor: pointer;
  width: 75%;
  margin-inline: auto;
}
.checkout-total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.quantity {
  margin-left: auto;
  font-weight: $font-500;
  float: right;
}

.checkout-display {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  position: relative;

  .left-coupon {
    display: flex;
    flex-direction: column;
    background-color: $Secondary-color-10;
    padding: 3rem 2rem;
    max-width: 28.5rem;
    width: 100%;
    gap: 2rem;
    border-radius: 6px;

    h1 {
      font-size: $font-size-h5;
    }

    input {
      background-color: transparent;
      padding: 1rem 1rem;
      outline: 1px solid $Secondary-color-50;
      border: transparent;
      border-radius: 6px;
    }
    button {
      padding: 1rem 1.257rem;
      border: none;
      outline: none;
      background-color: $text-color-orange;
      margin-top: 0.5rem;
      border-radius: 6px;
      color: $white;
      margin-right: auto;
      cursor: pointer;
    }
  }
}
.right-total {
  display: flex;
  flex-direction: column;
  width: 27rem;
  max-width: 100%;

  h1 {
    font-size: $font-size-h5;
    margin-bottom: 1.5rem;
  }
  .right-shipping,
  .right-location,
  .right-quantity {
    padding-bottom: 1rem;
  }
  .total-price-quantity {
    padding-top: 1rem;
  }
  .right-shipping,
  .right-location,
  .right-quantity,
  .total-price-quantity {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
.btn-fill_up {
  text-align: center;
  font-size: $font-size-18;
  color: $Error-color;
  position: absolute;
  bottom: -15%;
  right: 0;
  margin-right: 6rem;
}
.none {
  display: none;
}
