@use "Utils" as *;

.footer-container {
  margin-top: 160px;
  background-color: $text-color-orange;
  padding-block: 6rem;

  ul li {
    list-style: none;
  }

  p {
    width: 50%;
  }
}
.footer-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: $white;
}
