@use "Utils" as *;
.shop-container {
  width: 100%;
  margin-top: 180px;

  .shop-inner_container {
    max-width: $main-width;
    margin: 0 auto;
    display: flex;
    gap: 1rem;
    flex-direction: row;
    // align-items: center;

    h3 {
      font-size: $font-size-h4;
    }
  }
}
.shop-left_filter {
  width: 300px;
  max-width: 100%;
  padding: 0.6rem;
  background-color: #f5f5f5;

  .price-filter,
  .categories-filter_container,
  .range-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .range-filter {
    margin-top: 1rem;
  }
  .categories-header {
    margin-top: 1.75rem;
    margin-bottom: 0.4rem;
  }
  .categories-filter_container {
    cursor: pointer;
    padding-block: 0.42rem;

    span {
      font-weight: $font-500;
      font-size: $font-size-14;
    }
    button {
      padding: 0.75rem 1rem;
      margin-top: 1.257rem;
      color: $white;
      background-color: $text-color-orange;
      border: transparent;
      outline: transparent;
      cursor: pointer;
      border-radius: 6px;
    }
  }
  input {
    width: 100%;
  }
  .color-filter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.257rem;
    align-items: center;
    justify-content: center;
    margin-block: 2rem;

    button {
      outline: none;
      border: none;
      background-color: $black;
      color: $white;
      border-radius: 50%;
      width: 3rem;
      height: 3rem;
      margin: 0 auto;
    }
  }
}
.shop-data_container {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 400px));
  border: 1px solid rgb(24, 21, 21);
  padding: 0.6rem;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.shop-data_image {
  display: flex;
  align-items: center;
  justify-content: center;
  .data-img {
    width: 200px;
    height: 200px;
  }
}
.shop-data_info {
  align-items: center;
  text-align: center;
  margin-top: 1.257rem;

  p {
    font-size: $font-size-18;
    color: $text-color-orange;
  }
}
.res-btn {
  display: none;
}
.close-btn {
  display: none;
  padding: 0.75rem 1rem;
  margin-top: 1.257rem;
  color: #fff;
  background-color: #f3692e;
  border: transparent;
  outline: transparent;
  cursor: pointer;
  border-radius: 6px;
}
.search-filter {
  position: relative;

  input {
    width: 100%;
    padding: 0.6rem 0.6rem;
  }
  img {
    position: absolute;
    right: 10px;
    top: 7px;
  }
}
.sortby-filter {
  display: flex;
  margin-block: 1.75rem;
  padding-bottom: 1rem;

  p {
    flex: 1 1 0%;
    font-size: $font-size-14-5;
    color: $text-color-light-grey;
  }
  span {
    padding-right: 1rem;
    font-size: $font-size-14-5;
  }
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  padding: 8px 12px;
  margin: 0 4px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  outline: none;
}

.pagination button:hover {
  background-color: #f1f1f1;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination .active {
  background-color: $text-color-orange;
  color: $white;
}

.arrow.active {
  transform: rotate(90deg);
  transition: all 0.25s ease-in-out;
}
