// width and height
$main-width: 80rem;
$max-width: 100rem;
$padding-inline: 6.25rem;
$padding-inline-medium: 4.25rem;
$padding-inline-small: 3.25rem;
$padding-inline-smaller: 1.25rem;
$padding-medium: 0.6rem;
$padding-small: 0.3rem;
$padding-smaller: 0.157rem;

// TypoGraphy
$font-family-merry: "Merriweather", serif;
$font-size-h1: 3.875rem;
$font-size-h2: 3rem;
$font-size-h3: 2.4375rem;
$font-size-h4: 1.9375rem;
$font-size-h5: 1.5rem;
$font-size-h6: 1.257rem;

$font-size-18: 1.125rem;
$font-size-16: 1rem;
$font-size-14-5: 0.906rem;
$font-size-14: 0.875rem;
$font-size-12-5: 0.781rem;
$font-size-12: 0.75rem;

$font-400: 400;
$font-500: 500;
$font-600: 600;
$font-700: 700;

// System Color Light

// BaseColor
$black: #000;
$white: #fff;

// TextColor
$text-color-light: #11142d;
$text-color-light-grey: #515151;
$text-color-light-white: #9a9ab0;
$text-color-orange: #f3692e;
$text-color-orange-80: #F86338;
$text-color-white: #9a9ab0;

// PrimaryColor
$Primary-color-85: #7a6005;
$Primary-color-70: #aa870f;
$Primary-color-50: #d3a916;
$Primary-color-30: #e6d28b;
$Primary-color-white: #fff;

// SecondaryColor
$Secondary-color-85: #5f1e03;
$Secondary-color-70: #b43a05;
$Secondary-color-50: #f86338;
$Secondary-color-30: #ffac94;
$Secondary-color-10: #ffefeb;

// Accent1Color
$Accent-color-light-85: #018134;
$Accent-color-light-70: #00a843;
$Accent-color-light-50: #0bd25a;
$Accent-color-light-30: #5def97;
$Accent-color-light-10: #caf1da;

// OtherColor
$Warning-color: #eeaf22;
$Error-color: #f04461;
$Success-color: #41da7e;
$Info-color: #f1f1f6;

// SeparatorsColor
$Seperators-primary-color: #e1e1fb;
$Seperators-secondary-color: #e1e1e1;

// FillColor
$fills-btnFill: #ffffff;
$fills-imgHolder: #e2e2ea;
$fills-progressContainer: #e2e2ea;
$fills-textField: #ffffff;
$fills-textField2: #f6f6f7;
$fills-icon: #9a9ab0;
$fills-disabled: #e0e0e0;
