@forward "Footer";
@forward "Home";
@forward "Responsive";
@forward "Navbar";
@forward "Header";
@forward "Drop";
@forward "Shop";
@forward "SingleShop";
@forward "Cart";
@forward "Checkout";
@forward "Customer";
@forward "ExtraImage";
@use "Utils" as *;
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body {
  background-color: $white;
  color: $black;
  font-family: "DM Sans", sans-serif;
  font-weight: $font-400;
  line-height: 1.6;
  overflow-x: hidden;
}
.Link {
  text-decoration: none;
  color: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
.header-description p {
  margin-bottom: 0.75rem;
}
