@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap");
.footer-container {
  margin-top: 17rem;
  background-color: #f3692e;
  padding-block: 6rem;
  padding-inline: 24rem;
}
.footer-container ul li {
  list-style: none;
}
.footer-container p {
  width: 50%;
}

.footer-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.footer-logo {
  width: 90%;
}

.header-container {
  margin-top: 60px;
  width: 100%;
}
.header-container .header-inner_container {
  display: flex;
  flex-direction: row;
  max-width: 80rem;
  justify-content: space-between;
  margin: 0 auto;
  gap: 0.6rem;
}

.homeImageHeader {
  display: flex;
  flex-shrink: 1;
  gap: 1rem;
}
.homeImageHeader img {
  height: 509px;
  width: 50%;
  max-width: 100%;
  margin-left: auto;
}

.header-description {
  margin-top: 5rem;
}
.header-description h1 {
  font-size: 3rem;
  max-width: 25rem;
  line-height: 1;
  margin-bottom: 3rem;
}
.header-description p {
  width: 60%;
}
.header-description .homeHeader-btn {
  margin-top: 3rem;
  max-width: 7rem;
}
.header-description .homeHeader-btn .shop-btn {
  display: flex;
  gap: 1rem;
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
  font-weight: 500;
  color: #fff;
  background-color: #f3692e;
  border-radius: 6px;
  margin: 0;
}

.shop-btn {
  cursor: pointer;
}

.HomeImages-inner_container {
  display: grid;
  margin: 0 auto;
  max-width: 80rem;
  margin-top: 180px;
  grid-template-columns: repeat(3, minmax(250px, 500px));
  gap: 1rem;
}
.HomeImages-inner_container .HomeImages-product_container {
  border: 1px solid #e2e2ea;
}
.HomeImages-inner_container img {
  display: block;
  max-width: 100%;
  width: 400px;
  height: 400px;
  -o-object-fit: contain;
     object-fit: contain;
}
.HomeImages-inner_container h1 {
  font-size: 1.9375rem;
}
.HomeImages-inner_container h1,
.HomeImages-inner_container p {
  text-align: center;
}

.home-slide-carousel {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  gap: 1.5rem;
  flex-shrink: 1;
}

.carousel-img-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-shrink: 1;
}

.carousel-img-container {
  border: 1px solid #e2e2ea;
  margin-block: 1rem;
  position: relative;
}
.carousel-img-container span {
  position: absolute;
  right: 8%;
  top: 5%;
  background-color: #ffefeb;
  padding: 0.357rem 0.357rem;
  border-radius: 50%;
}

.carousel-img {
  display: block;
  max-width: 100%;
  width: 250px;
  height: 250px;
  -o-object-fit: contain;
     object-fit: contain;
  aspect-ratio: 1/0;
}

.carouse-btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}
.carouse-btn button {
  outline: none;
  border: none;
  background-color: transparent;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.carouse-btn button img {
  width: 25px;
  height: 25px;
}
.carouse-btn .btn-next {
  position: absolute;
  left: 2rem;
  top: 7.5rem;
  z-index: 999;
}
.carouse-btn .btn-previous {
  position: absolute;
  right: 2rem;
  top: 7.5rem;
  z-index: 999;
}

.home-carousel_info {
  max-width: 80rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 180px;
  margin-bottom: 30px;
  align-items: center;
}
.home-carousel_info p {
  color: #f3692e;
}
.home-carousel_info h1 {
  font-size: 3rem;
  font-family: "Merriweather", serif;
}

.carousel-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.carousel-info .carousel-title {
  font-family: 600;
  font-size: 1.125rem;
}
.carousel-info .carousel-small {
  font-size: 0.781rem;
}
.carousel-info .carousel-price {
  color: #f3692e;
}

@media (max-width: 1600px) {
  .navbar-inner_container,
  .header-inner_container,
  .HomeImages-inner_container,
  .home-carousel_info,
  .ads-inner_container {
    padding-inline: 6.25rem;
  }
}
@media (max-width: 920px) {
  .navbar-inner_container,
  .header-inner_container,
  .HomeImages-inner_container,
  .home-carousel_info,
  .ads-inner_container {
    padding-inline: 4.25rem !important;
  }
  .HomeImages-inner_container {
    grid-template-columns: auto;
  }
  .HomeImages-inner_container img,
  .HomeImages-inner_container h1,
  .HomeImages-inner_container p {
    margin: 0 auto;
    text-align: center;
  }
  h1 {
    font-size: 1.125rem;
  }
  .header-inner_container {
    flex-direction: column-reverse !important;
  }
}
@media (max-width: 820px) {
  .navbar-inner_container,
  .header-inner_container,
  .HomeImages-inner_container,
  .home-carousel_info,
  .ads-inner_container {
    padding-inline: 3.25rem !important;
  }
}
@media (max-width: 750px) {
  .top-navbar div {
    display: none !important;
  }
}
@media (max-width: 480px) {
  .homeImageHeader {
    display: none;
  }
  .header-description {
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .header-description p {
    width: 100%;
  }
  .header-description .header-description .homeHeader-btn {
    max-width: 100% !important;
    margin: 0 auto !important;
    width: 100%;
  }
}
.navbar-container {
  width: 100%;
}
.navbar-container .navbar-inner_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 80rem;
  margin-top: 37px;
  gap: 70px;
}

.top-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.top-navbar .navbar-contact,
.top-navbar div {
  display: flex;
  align-items: center;
  gap: 1.257rem;
}
.top-navbar .navbar-contact span,
.top-navbar div span {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
}
.top-navbar .navbar-number {
  margin-left: -0.85rem;
}

.down-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.down-navbar ul {
  display: flex;
  flex-direction: row;
  gap: 1.257rem;
}
.down-navbar ul .home-style {
  font-weight: 500;
}
.down-navbar ul li {
  list-style: none;
  cursor: pointer;
}
.down-navbar .icon-container li {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.down-navbar .icon-container li img {
  width: 25px;
  height: 25px;
}
.down-navbar .icon-cart {
  position: relative;
}
.down-navbar .icon-cart .icon-number {
  position: absolute;
  background-color: #f3692e;
  color: #fff;
  font-size: 0.906rem;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  text-align: center;
  top: -7px;
  right: -8.5px;
}

.icon-number.hidden {
  display: none;
}

.header-description {
  width: 100%;
  max-width: 400px;
}

.ads-container {
  width: 100%;
}

.ads-inner_container {
  max-width: 100rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3692e;
  color: #fff;
  flex-direction: column;
  padding-block: 10rem;
  border-radius: 6px;
  gap: 3rem;
}
.ads-inner_container h1 {
  font-size: 3rem;
  font-family: "Merriweather", serif;
  margin-block: 3.25rem;
}
.ads-inner_container p {
  margin-left: 5rem;
  font-size: 1rem;
}
.ads-inner_container button {
  display: flex;
  gap: 0.5rem;
  padding: 0.6rem 1.5rem;
  border: transparent;
  outline: transparent;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  margin-left: 5rem;
}

.shop-container {
  width: 100%;
  margin-top: 180px;
}
.shop-container .shop-inner_container {
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  gap: 1rem;
  flex-direction: row;
}
.shop-container .shop-inner_container h3 {
  font-size: 1.9375rem;
}

.shop-left_filter {
  width: 300px;
  max-width: 100%;
  padding: 0.6rem;
  background-color: #f5f5f5;
}
.shop-left_filter .price-filter,
.shop-left_filter .categories-filter_container,
.shop-left_filter .range-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shop-left_filter .range-filter {
  margin-top: 1rem;
}
.shop-left_filter .categories-header {
  margin-top: 1.75rem;
  margin-bottom: 0.4rem;
}
.shop-left_filter .categories-filter_container {
  cursor: pointer;
  padding-block: 0.42rem;
}
.shop-left_filter .categories-filter_container span {
  font-weight: 500;
  font-size: 0.875rem;
}
.shop-left_filter .categories-filter_container button {
  padding: 0.75rem 1rem;
  margin-top: 1.257rem;
  color: #fff;
  background-color: #f3692e;
  border: transparent;
  outline: transparent;
  cursor: pointer;
  border-radius: 6px;
}
.shop-left_filter input {
  width: 100%;
}
.shop-left_filter .color-filter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.257rem;
  align-items: center;
  justify-content: center;
  margin-block: 2rem;
}
.shop-left_filter .color-filter button {
  outline: none;
  border: none;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  margin: 0 auto;
}

.shop-data_container {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 400px));
  border: 1px solid rgb(24, 21, 21);
  padding: 0.6rem;
  align-items: center;
  justify-content: center;
}

.shop-data_image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop-data_image .data-img {
  width: 200px;
  height: 200px;
}

.shop-data_info {
  align-items: center;
  text-align: center;
  margin-top: 1.257rem;
}
.shop-data_info p {
  font-size: 1.125rem;
  color: #f3692e;
}

.search-filter {
  position: relative;
}
.search-filter input {
  width: 100%;
  padding: 0.6rem 0.6rem;
}
.search-filter img {
  position: absolute;
  right: 10px;
  top: 7px;
}

.sortby-filter {
  display: flex;
  margin-block: 1.75rem;
  padding-bottom: 1rem;
}
.sortby-filter p {
  flex: 1 1 0%;
  font-size: 0.906rem;
  color: #515151;
}
.sortby-filter span {
  padding-right: 1rem;
  font-size: 0.906rem;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  padding: 8px 12px;
  margin: 0 4px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  outline: none;
}

.pagination button:hover {
  background-color: #f1f1f1;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination .active {
  background-color: #f3692e;
  color: #fff;
}

.arrow.active {
  transform: rotate(90deg);
  transition: all 0.25s ease-in-out;
}

.singleShop-container {
  width: 100%;
  margin-top: 120px;
}

.singleShop-inner_container {
  margin: 0 auto;
  max-width: 80rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.singleShop-inner_container h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.singleShop-inner_container p {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.singleShop-inner_container button {
  outline: none;
  border: none;
  background-color: #f3692e;
  color: #fff;
  padding: 1rem 1.2rem;
  position: relative;
  margin-top: 3rem;
  width: 10rem;
  border-radius: 6px;
  cursor: pointer;
}
.singleShop-inner_container button img {
  position: absolute;
  right: 15px;
  top: 14px;
}

.main-image {
  width: 100%;
  height: 100%;
  border: 1px solid #e2e2ea;
  padding: 0 1.5rem;
  padding-top: 1rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.main-image img {
  width: 480px;
  height: 480px;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1rem;
}

.singleShop-price_check {
  display: flex;
  gap: 3rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  align-items: center;
}
.singleShop-price_check .oldprice {
  text-decoration: line-through;
  color: #9a9ab0;
}
.singleShop-price_check .current-price {
  font-size: 1.9375rem;
  color: #f3692e;
}

.singleShop-right {
  width: 100%;
  max-width: 440px;
}

.singleShop-left {
  display: flex;
  gap: 1rem;
  width: 100%;
  max-width: 650px;
}
.singleShop-left .singleShop-subImages {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.singleShop-left .singleShop-subImages img {
  width: 100px;
  height: 100px;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.cart-table {
  display: flex;
  width: 100%;
  background-color: #f3692e;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  border-radius: 6px;
  margin-bottom: 2rem;
}

.cart-container {
  width: 100%;
}

.cart-inner_container {
  max-width: 80rem;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 5rem;
}
.cart-inner_container h1 {
  font-size: 3rem;
}

.cart-flex {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  width: 100%;
  position: relative;
  margin-block: 2rem;
}
.cart-flex p {
  margin-left: auto;
  margin-right: 3rem;
}
.cart-flex span {
  margin-left: auto;
  margin-right: 2.75rem;
}
.cart-flex h1 {
  font-size: 1.125rem;
  margin-left: 3.7rem;
  margin-right: 2.5rem;
}
.cart-flex h1,
.cart-flex p,
.cart-flex span {
  margin-top: 1rem;
  font-weight: 600;
}
.cart-flex .remove-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  right: -10px;
  top: 18px;
  cursor: pointer;
}

.product-img {
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e2e2ea;
}
.product-img img {
  width: 2.3rem;
  height: 2.3rem;
  background-color: #000;
}

.checkout {
  padding: 1.257rem 1rem;
  border: none;
  outline: none;
  background-color: #f3692e;
  margin-top: 2.5rem;
  border-radius: 6px;
  color: #fff;
  margin-right: auto;
  cursor: pointer;
  width: 75%;
  margin-inline: auto;
}

.checkout-total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.quantity {
  margin-left: auto;
  font-weight: 500;
  float: right;
}

.checkout-display {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  position: relative;
}
.checkout-display .left-coupon {
  display: flex;
  flex-direction: column;
  background-color: #ffefeb;
  padding: 3rem 2rem;
  max-width: 28.5rem;
  width: 100%;
  gap: 2rem;
  border-radius: 6px;
}
.checkout-display .left-coupon h1 {
  font-size: 1.5rem;
}
.checkout-display .left-coupon input {
  background-color: transparent;
  padding: 1rem 1rem;
  outline: 1px solid #f86338;
  border: transparent;
  border-radius: 6px;
}
.checkout-display .left-coupon button {
  padding: 1rem 1.257rem;
  border: none;
  outline: none;
  background-color: #f3692e;
  margin-top: 0.5rem;
  border-radius: 6px;
  color: #fff;
  margin-right: auto;
  cursor: pointer;
}

.right-total {
  display: flex;
  flex-direction: column;
  width: 27rem;
  max-width: 100%;
}
.right-total h1 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.right-total .right-shipping,
.right-total .right-location,
.right-total .right-quantity {
  padding-bottom: 1rem;
}
.right-total .total-price-quantity {
  padding-top: 1rem;
}
.right-total .right-shipping,
.right-total .right-location,
.right-total .right-quantity,
.right-total .total-price-quantity {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.btn-fill_up {
  text-align: center;
  font-size: 1.125rem;
  color: #f04461;
  position: absolute;
  bottom: -15%;
  right: 0;
  margin-right: 6rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  color: #000;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  overflow-x: hidden;
}

.Link {
  text-decoration: none;
  color: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}